RewriteEngine On

#AuthType Basic
#AuthName "TäffäData"
#AuthUserFile /var/www/taffa-data/.htpasswd
#Require valid-user

# Rewrite all requests via index.php (to authenticate) and append the query parameters
RewriteCond %{REQUEST_URI} !.*index.php$
RewriteRule ^(.*)$ index.php?%{QUERY_STRING}&resource=$1 [L]