/* Plotly override */

.modebar-group
{
    background: transparent !important;
}

.modebar-btn .icon path
{
    fill: rgba(0, 0, 0, 0.8) !important;
}

.modebar-btn.active .icon path
{
    fill: rgba(0, 0, 0, 0.4) !important;
}



